PORT=5000
MONGODB_URI=mongodb+srv://adityaks0604_db_user:j6s3AFdQGy8La2G9@cluster0.vmnqody.mongodb.net/aditya_portfolio?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=aditya_portfolio_jwt_secret_key_2026_super_secure_key_aditya
ADMIN_EMAIL=adityaks0604@gmail.com
ADMIN_PASSWORD=admin123456
CLIENT_URL=https://your-frontend-domain.vercel.app
NODE_ENV=production
